# TUPLES

 #                             it is collection of different data types separated by commas(,) and enclosed with paranthesis()

In [4]:
t=(1,3,4.5,"anjum")
t

(1, 3, 4.5, 'anjum')

In [5]:
type(t)

tuple

In [6]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [8]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [9]:
t.count("anjum")

1

In [11]:
t1=(5,6,7,8,8.8,"asdf",";lkj")
type(t1)

tuple

In [12]:
t1.count(5)

1

In [14]:
t1.index("asdf")

5

In [16]:
t1[0]

5

In [17]:
t1[-1]

';lkj'

In [18]:
t1[1:]

(6, 7, 8, 8.8, 'asdf', ';lkj')

In [19]:
t1*2

(5, 6, 7, 8, 8.8, 'asdf', ';lkj', 5, 6, 7, 8, 8.8, 'asdf', ';lkj')

In [20]:
print(t1+t)

(5, 6, 7, 8, 8.8, 'asdf', ';lkj', 1, 3, 4.5, 'anjum')

In [21]:
t[0]//3

0

In [22]:
t[0]/3

0.3333333333333333

# SETS
 collection of elements separated by commas and enclosed with flower braces{} ; and it does't has index and the elements are unordered.

In [23]:
se={1,2,3}
type(se)

set

In [24]:
se={1,1,2,3,4,5}
type(se)
se

{1, 2, 3, 4, 5}

In [26]:
s={"apple","banana","mango"}
print(type(s))
s

<class 'set'>

{'apple', 'banana', 'mango'}

In [27]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [28]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [32]:
se.add(23)
se

{1, 2, 3, 4, 5, 23}

In [33]:
se

{1, 2, 3, 4, 5, 23}

In [34]:
set1={1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [38]:
setcopy=set1.copy()
print(setcopy)
print(set1)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [37]:
x={1,2,3,4,5}
y={3,88,9,6}
z=x.difference(y)
z1=y.difference(x)
print(z)
print(z1)

{1, 2, 4, 5}
{88, 9, 6}

In [39]:
print(x.isdisjoint(y))
print(y.isdisjoint(x))

False
False

In [40]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [41]:
print(x.union(y))

{1, 2, 3, 4, 5, 6, 9, 88}

In [42]:
print(x.intersection(y))

{3}

In [43]:
help(set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

In [44]:
print(x.issubset(y))

False

In [45]:
print(x.issuperset(y))

False

# ELEMENT ACCESING

In [47]:
s_t=[3,4,56,7]
for kvsw in s_t:
    print(kvsw,end=" ")

3 4 56 7

In [48]:
x

{1, 2, 3, 4, 5}

In [49]:
x.update(y)

In [50]:
y

{3, 6, 9, 88}

In [52]:
updated_set=y.update(x)
print(updated_set)

None

In [53]:
y.update(x)
y

{1, 2, 3, 4, 5, 6, 9, 88}

In [54]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [57]:
z=x.symmetric_difference(y)
z

set()

In [56]:
x

{1, 2, 3, 4, 5, 6, 9, 88}

In [58]:
y

{1, 2, 3, 4, 5, 6, 9, 88}

In [59]:
x={13,14}
y={1,2,3}
z=x.symmetric_difference(y)
z

{1, 2, 3, 13, 14}

In [61]:
x.pop()
x

{14}

In [62]:
y.remove(3)
y

{1, 2}

In [63]:
y.discard(2)
y

{1}

In [65]:
li=[5,6,7,8,9]
print(type(li),li)
x=set(li)
print(type(x),x)

<class 'list'> [5, 6, 7, 8, 9]
<class 'set'> {5, 6, 7, 8, 9}

In [1]:
s=list(set(map(int,input().split())))
print(s)

5 6 7 8 8 5
[8, 5, 6, 7]